{% extends 'base.html' %}
{% block content %}
<body>
    <h1>Holidays</h1>
    <form method="get" action="">
        <label for="language">Select Language:</label>
        <select id="language" name="language">
            <option value="en">English</option>
            <option value="es">Spanish</option>
        </select>
        <button type="submit">Change Language</button>
    </form>
    <ul>
        {% for holiday in holidays %}
            <li>{{ holiday.name }} - {{ holiday.date.iso }}</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}