{% extends 'base.html' %}
{% block content %}
{% load static %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sobre Nosotros</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenidos a ThreeMan Pub</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="fw-bolder">Nuestra Misión</h2>
            <p class="lead fw-normal">
                En ThreeMan Pub, nuestra misión es ser el destino preferido de los entusiastas de la cerveza artesanal. Ofrecemos una selección cuidadosamente curada de las mejores cervezas producidas en Antioquia, brindando una experiencia única y auténtica donde nuestros clientes pueden explorar la rica diversidad de sabores y estilos que la cerveza artesanal local tiene para ofrecer. Estamos comprometidos con el apoyo a los productores locales, contribuyendo al crecimiento y sostenibilidad de la industria cervecera artesanal en nuestra región.
            </p>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-8 text-center">
            <h2 class="fw-bolder">Nuestra Visión</h2>
            <p class="lead fw-normal">
                En ThreeMan Pub, aspiramos a ser reconocidos como la principal referencia en la promoción y venta de cervezas artesanales de Antioquia. Nos destacamos por nuestra pasión por la calidad, la innovación y el excelente servicio al cliente. Nuestro objetivo es expandir nuestra presencia tanto en mercados nacionales como internacionales, estableciendo nuestra reputación como un destino obligado para los aficionados a la cerveza que buscan experiencias únicas e inolvidables. Además, estamos dedicados a ser un motor para el desarrollo y apoyo de la comunidad cervecera local, fomentando la colaboración y el intercambio de conocimientos en un ambiente de respeto y camaradería.
            </p>
        </div>
    </div>
</div>

{% endblock %}
