{% extends 'base.html'%}
{% block content %}

 <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To  Ecommerce...</p>
                </div>
            </div>
        </header>

         <div class="container">
        	<div class="row">
        		<center>
                Misión:
                
        			<div class="col-8">
        				<br/><br/>
Nuestra misión en ThreeMan Pub es ser el destino preferido para los amantes de la cerveza artesanal, ofreciendo una cuidadosa selección de las mejores cervezas producidas en Antioquia. Nos comprometemos a proporcionar una experiencia única y auténtica, donde nuestros clientes puedan explorar la diversidad de sabores y estilos que ofrece la cerveza artesanal local. Además, nos esforzamos por promover y apoyar a los productores locales, contribuyendo al crecimiento y la sostenibilidad de la industria cervecera artesanal en la región.
<div class="col-8">
        				<br/><br/>
Visión:

        			<div class="col-8">
        				<br/><br/>
En ThreeMan Pub, aspiramos a ser reconocidos como el referente líder en la promoción y venta de cervezas artesanales de Antioquia, destacando por nuestra pasión por la calidad, la innovación y la excelencia en el servicio al cliente. Buscamos expandir nuestra presencia en el mercado nacional e internacional, consolidando nuestra reputación como un destino obligado para los aficionados a la cerveza que buscan experiencias únicas y memorables. Además, nos comprometemos a seguir siendo un motor de desarrollo y apoyo para la comunidad cervecera local, fomentando la colaboración y el intercambio de conocimientos en un entorno de respeto y camaradería.

        			<div class="col-8">
        				<br/><br/>
{% endblock %}
