{% extends 'base.html' %}
{% block content %}

<!-- Encabezado -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categorías</h1>
            <p class="lead fw-normal text-white-50 mb-0">Elige tu categoría favorita...</p>
        </div>
    </div>
</header>

<!-- Lista de Categorías -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            {% for category in categories %}
                <div class="my-3">
                    <h3><a class="text-dark text-decoration-none" href="{% url 'category' category %}">{{ category }}</a></h3>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
