<!-- Navegación -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">ThreeMan Pub</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="language-selector">
            <a href="{% url 'set_language' %}?language=en">English</a>
            <a href="{% url 'set_language' %}?language=es">Español</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about'%}">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'map'%}">Ubicación</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'update_info' %}">Perfil de Usuario</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'update_user' %}">Información Usuario</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Cerrar Sesión</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Iniciar Sesión</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrarse</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBeers" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cervezas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownBeers">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">Productos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Categorías</a></li>
                        <li><a class="dropdown-item" href="#">Estilos</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-light"><i class="bi-cart-fill me-1"></i>
                    Carrito
                    <span class="badge bg-light text-dark ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>
        </div>
    </div>
</nav>
