{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Buscar Productos</h1>
            <p class="lead fw-normal text-white-50 mb-0">Encuentra tu pola favorita...</p>
        </div>
    </div>
</header>

<!-- Search Form -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header">Buscar pola</div>
                <div class="card-body">
                    <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Search For Products" name="searched">
                        </div>
                        <button type="submit" class="btn btn-secondary">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Cards -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% if searched %}
            {% for product in searched %}
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="Product Image" style="max-height: 300px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            {% if product.is_sale %}
                                <div class="text-warning mb-2">Sale!</div>
                                <strike class="text-muted">${{ product.price }}</strike>
                                <span class="text-danger ml-2">${{ product.sale_price }}</span>
                            {% else %}
                                <div class="text-dark">${{ product.price }}</div>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <a class="btn btn-outline-dark" href="{% url 'product' product.id %}">Ver producto</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

</div>

{% endblock %}
